.profile__name-conteiner {
  display: grid;
  grid-template-columns: fit-content(508px) min-content;
  grid-auto-rows: auto;
  gap: 8px 18px;
}

@media screen and (max-width: 690px) {
  .profile__name-conteiner {
    gap: 6px 10px;
    padding-left: 26px;
    grid-template-columns: fit-content(228px) min-content;
  }
}
