.header {
  max-width: 880px;
  width: 100%;
  background-color: #000;
  box-sizing: border-box;
  padding-top: 45px;
  margin: 0 auto;
  margin-bottom: 40px;
  min-height: 119px;
  border-bottom: 1px solid #545454;
  background-color: #000;
}

@media screen and (max-width: 880px) {
  .header {
    padding-top: 28px;
    min-height: 84px;
    margin-bottom: 42px;
  }
}
