.profile__edit-link {
  text-decoration: none;
  align-self: center;
  padding: 0;
  margin: 5px 0 0;

  width: 24px;
  height: 24px;

  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background-image: url('../../../images/Vector-pencil.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;

  background-color: rgb(0%, 0%, 0%, 0);
}

@media screen and (max-width: 880px) {
  .profile__edit-link {
    width: 18px;
    height: 18px;
    background-size: 7px;

    margin-top: 0;
  }
}
